<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="MantisConnectBinding">
                    <security mode="Transport" />
                </binding>
                <binding name="MantisConnectBinding1" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://www.mantisbt.org/bugs/api/soap/mantisconnect.php"
                binding="basicHttpBinding" bindingConfiguration="MantisConnectBinding"
                contract="Mantis.MantisConnectPortType" name="MantisConnectPort" />
        </client>
    </system.serviceModel>
</configuration>